body {
    font-family: Arial, sans-serif;
    background: #e0e0e0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}

h1 {
    text-align: center;
    margin: 40px 0 20px 0; 
    font-size: 36px;
    color: #222;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    width: 85%;
    max-width: 1000px;
    gap: 40px;
    margin: auto; 
}

.upload-box {
    background: white;
    border: 3px solid #000;
    height: 200px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    border-radius: 6px;
    padding: 20px;
    text-align: center;
}

.upload-box h2 {
    font-size: 32px;
    font-weight: bold;
    color: #222;
}


.instructions {
    flex: 1;
    padding-top: 20px;
}

.instructions ul {
    list-style: none;
    padding: 0;
    margin-left: 30px;
}

.instructions li {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.4;
}

button {
    background-color: #4CAF50; 
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 25px; 
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}
.dot {
    width: 10px;
    height: 10px;
    background: #111;
    border-radius: 50%;
    margin-top: 6px;
}