{% load static %}
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Subir CSV - Validador</title>
  <link rel="stylesheet" href="{% static 'validacion/css/estilos.css' %}">
</head>
<body>
  <h1>Validacion de Estrutura de Archivo</h1>

  <div class="wrapper">
    <div class="upload-box">
        <h2>Subir<br>Archivo</h2>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Procesar</button>
        </form>
    </div>

    <div class="instructions">
        <ul>
            <li>
                <div class="dot"></div>
                <span>Seleccione un archivo CSV válido desde su computadora.</span>
            </li>
            <li>
                <div class="dot"></div>
                <span>El sistema procesará el archivo y leerá su contenido línea por línea.</span>
            </li>
            <li>
                <div class="dot"></div>
                <span>Las columnas serán separadas por comas de forma automática.</span>
            </li>
            <li>
                <div class="dot"></div>
                <span>El contenido procesado se guardará en la base de datos SQLite.</span>
            </li>
            <li>
                <div class="dot"></div>
                <span>Una vez completado, se mostrará un mensaje indicando que el archivo fue procesado correctamente.</span>
            </li>
        </ul>
    </div>
  </div>
</body>
</html>